header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    color: white;
}

header > h1 {
    padding-left: 30px;
}

header > ul {
    display: flex;
    flex-direction: row;
    padding-right: 40px;
    margin-top: 50px;

}

ul li {
    list-style: none;
    margin-left: 15px;
}

ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
}

ul li a:hover {
    color: green;
    background-color: white;
    padding: 10px;
}